body {
  background: #f3f3f3;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

code {
  color: #e24a4a;
}

sup {
  letter-spacing: 0em;
}

a {
  text-decoration: none;
  color: inherit;
}

.codeComment {
  color: #a4a4a4;
}

.bodyWrap {
  width: 1400px;
  font-family: 'Tahoma', sans-serif;
  font-weight: 400;
  font-size: 12pt;
  color: #474747;
}

.bodyWrap_position {
  margin: 0 auto;
}

.bodyWrap__main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

@media (max-width: 1399px) {
  .bodyWrap__main {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 992px) {
  .bodyWrap__main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 1599px) {
  .bodyWrap {
    width: 1200px;
  }
}

@media (max-width: 1399px) {
  .bodyWrap {
    width: 900px;
  }
}

@media (max-width: 992px) {
  .bodyWrap {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .bodyWrap {
    width: 540px;
  }
}

@media (max-width: 599px) {
  .bodyWrap {
    width: 90%;
  }
}

.headerTitle {
  text-align: center;
  font-size: 1.75em;
  font-weight: 700;
}

.headerDate {
  text-align: center;
  font-size: 1.25em;
}

.taskCard {
  position: relative;
  width: calc(100% - 30px);
  border-radius: 25px;
  padding: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.taskCard:hover {
  background-color: #ffffff;
  -webkit-box-shadow: -4px 12px 20px 0 #b7b7b7;
          box-shadow: -4px 12px 20px 0 #b7b7b7;
}

.taskCard_mainMenu {
  grid-column: 1 / -1;
}

.taskCard__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
  padding-left: 0;
}

.taskCard__menu_margin {
  margin: 0;
}

.taskCard__menuList {
  position: relative;
  display: block;
  padding: 7.5px 30px;
  font-size: 1.35em;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.taskCard__menuList:hover {
  -webkit-box-shadow: 0 0 3px 0 #808080;
          box-shadow: 0 0 3px 0 #808080;
}

@media (max-width: 992px) {
  .taskCard__menuList {
    padding: 5px 15px;
    font-size: 1.25em;
  }
}

@media (max-width: 767px) {
  .taskCard__menuList {
    padding: 5px 15px;
    font-size: 1.10em;
  }
}

.taskCard__subMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: capitalize;
  font-size: calc(1em / 1.35);
  list-style-type: none;
  padding: 0;
  background: #ffffff;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 5px;
}

.taskCard__subMenuWrap {
  position: absolute;
  top: 100%;
  left: 0;
  overflow: hidden;
  z-index: 100;
}

.taskCard__subMenu_hidden {
  margin-top: -80px;
}

.taskCard__subMenuList:hover {
  background: #dce6de;
}

.taskCard__subMenuListHref {
  display: block;
  padding: 10px 15px;
}

@media (max-width: 992px) {
  .taskCard__subMenu {
    font-size: calc(1em / 1.25);
  }
}

@media (max-width: 767px) {
  .taskCard__subMenu {
    font-size: calc(1em / 1.10);
  }
}

.taskCard__title {
  text-align: center;
  font-size: 1.35em;
  font-weight: 700;
}

.taskCard__input {
  height: 1.5em;
  width: 2.5em;
  font-size: 1em;
}

.taskCard__input_select {
  width: 7em;
}

.taskCard__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  padding-bottom: 30px;
}

.taskCard__buttons_column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 15px;
  justify-items: center;
}

@media (max-width: 1399px) {
  .taskCard__buttons_hideColumn {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 15px;
    justify-items: center;
  }
}

@media (max-width: 992px) {
  .taskCard__buttons_hideColumn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767px) {
  .taskCard__buttons_hideColumn {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 15px;
    justify-items: center;
  }
}

.taskCard__codeWrap {
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  -webkit-transition: 0.75s;
  transition: 0.75s;
  margin-bottom: 30px;
}

.taskCard__codeWrap_hidden {
  margin-bottom: 0;
  border-color: rgba(0, 0, 0, 0);
}

.functionButton {
  text-transform: uppercase;
  font-family: 'Tahoma', sans-serif;
  font-weight: 700;
  font-size: 12pt;
  letter-spacing: 0.1em;
  color: #ffffff;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  background: #d74645;
}

.functionButton:hover {
  background: #df6665;
}

.functionButton:active {
  color: #cccccc;
  background: #ab6665;
}

.functionButton_position {
  display: block;
}

.codeBlock {
  background: #e7e7e7;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

.codeBlock_geometry {
  display: block;
  margin: 0;
}

.codeBlock_hidden {
  margin-top: -475px;
}

.codeBlock_fewHidden {
  margin-top: -125px;
}

.codeBlock__line:nth-child(odd) {
  background: #fafafa;
}

.codeBlock__line:nth-child(even) {
  background: #efeff7;
}

.rights {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 60px;
}
