@mixin vwMedia($_vwWidth) {
  @media (max-width: $_vwWidth) {
    @content;
  }
}

body {
  background: #f3f3f3;
}

code {
  color: #e24a4a;
}
sup {
  letter-spacing: 0em;
}

.codeComment {
  color: #a4a4a4;
}

.bodyWrap {
  width: 1400px;
  font-family: 'Tahoma', sans-serif;
  font-weight: 400;
  font-size: 12pt;
  color: #474747;

  &_position {
    margin: 0 auto;
  }

  &__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    @include vwMedia(992px) {
      grid-template-columns: 1fr;
    }
  }

  @include vwMedia(1599px) {
    width: 1200px;
  }
  @include vwMedia(1399px) {
    width: 900px;
  }
  @include vwMedia(992px) {
    width: 720px;
  }
  @include vwMedia(767px) {
    width: 540px;
  }
  @include vwMedia(599px) {
    width: 90%;
  }
}

.headerTitle {
  text-align: center;
  font-size: 1.75em;
  font-weight: 700;
}
.headerDate {
  text-align: center;
  font-size: 1.25em;
}

.taskCard {
  position: relative;
  width: calc(100% - 30px);
  border-radius: 25px;
  padding: 15px;
  transition: 0.5s;

  &:hover {
    background-color: #ffffff;
    box-shadow: -4px 12px 20px 0 #b7b7b7;
  }

  &__title {
    text-align: center;
    font-size: 1.35em;
    font-weight: 700;
  }

  &__input {
    height: 1.5em;
    width: 2.5em;
    font-size: 1em;
    &_select {
      width: 7em;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 30px;

    &_column {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 15px;
      justify-items: center;
    }

    &_hideColumn {
      @include vwMedia(1399px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
        justify-items: center;
      }
      @include vwMedia(992px) {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      @include vwMedia(767px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
        justify-items: center;
      }
    }
  }

  &__codeWrap {
    position: relative;
    overflow: hidden;
    border: 1px solid #ccc;
    transition: 0.75s;
    margin-bottom: 30px;

    &_hidden {
      margin-bottom: 0;
      border-color: rgba(0, 0, 0, 0);
    }
  }
}

.functionButton {
  text-transform: uppercase;
  font-family: 'Tahoma', sans-serif;
  font-weight: 700;
  font-size: 12pt;
  letter-spacing: 0.1em;
  color: #ffffff;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  background: #d74645;

  &:hover {
    background: #df6665;
  }

  &:active {
    color: #cccccc;
    background: #ab6665;
  }

  &_position {
    display: block;
  }
}

.codeBlock {
  background: #e7e7e7;
  transition: 0.75s;

  &_geometry {
    display: block;
    margin: 0;
  }

  &_hidden {
    margin-top: -100%;

    // @include vwMedia(1480px) {
    //   margin-top: -125%;
    // }
  }
  &_fewHidden {
    margin-top: -25%;
  }

  &__line:nth-child(odd) {
    background: #fafafa;
  }

  &__line:nth-child(even) {
    background: #efeff7;
  }
}

.rights {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 60px;
}