body {
  background: #f3f3f3;
  margin: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

code {
  color: #e24a4a;
}

code .codeComment {
  color: #a4a4a4;
}

a {
  text-decoration: none;
  color: inherit;
}

.bodyWrap {
  width: 1400px;
  font-family: 'Tahoma', sans-serif;
  font-weight: 400;
  font-size: 12pt;
  color: #474747;
}

.bodyWrap_position {
  margin: 0 auto;
}

.bodyWrap__main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

@media (max-width: 992px) {
  .bodyWrap__main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 1599px) {
  .bodyWrap {
    width: 1200px;
  }
}

@media (max-width: 1399px) {
  .bodyWrap {
    width: 900px;
  }
}

@media (max-width: 992px) {
  .bodyWrap {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .bodyWrap {
    width: 540px;
  }
}

.headerTitle {
  text-align: center;
  font-size: 1.75em;
  font-weight: 400;
}

.headerDate {
  margin: 0;
}

.functionButton {
  text-transform: uppercase;
  font-family: 'Tahoma', sans-serif;
  font-weight: 700;
  font-size: 12pt;
  letter-spacing: 0.1em;
  color: #ffffff;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  background: #d74645;
  cursor: pointer;
}

.functionButton:hover {
  background: #f76665;
}

.functionButton:active {
  color: #cccccc;
  background: #ac6665;
}

.functionButton:focus {
  outline: none;
}

.functionButton_position {
  display: block;
}

.functionButton_disabled {
  pointer-events: none;
  cursor: default;
  background: #d7d7d7;
}

.navBar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 100%;
  border-bottom: 1px solid #f2c18e;
}

.navBar__logo {
  justify-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

.navBar__logo div {
  width: 60px;
  height: 60px;
  border-radius: 7.5px;
  background: #474747;
}

.navBar__logo span {
  margin-left: 15px;
  font-size: 2em;
  font-weight: 700;
}

@media (max-width: 767px) {
  .navBar__logo {
    margin-bottom: 0;
  }
}

.navBar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style-type: none;
  padding-left: 0;
}

.navBar__menu_margin {
  margin: 0;
}

.navBar__menuItem {
  position: relative;
}

.navBar__item {
  position: relative;
  display: block;
  -ms-flex-line-pack: center;
      align-content: center;
  height: calc(100% - 33px);
  padding: 15px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
}

.navBar__item_active {
  color: #f08f28;
  border-bottom: 3px solid #f08f28;
  text-shadow: 0.25px 0.25px 0 #f08f28, -0.25px -0.25px 0 #f08f28, 0.25px -0.25px 0 #f08f28, -0.25px 0.25px 0 #f08f28;
}

.navBar__item:hover {
  color: #474747;
  border-bottom: 3px solid #474747;
  text-shadow: 0.25px 0.25px 0 #474747, -0.25px -0.25px 0 #474747, 0.25px -0.25px 0 #474747, -0.25px 0.25px 0 #474747;
}

@media (max-width: 767px) {
  .navBar {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.taskCard {
  position: relative;
  width: calc(100% - 30px);
  border-radius: 25px;
  padding: 15px;
  padding-bottom: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.taskCard:hover {
  background-color: #f7f7f7;
  -webkit-box-shadow: -4px 12px 20px 0 #b7b7b7;
          box-shadow: -4px 12px 20px 0 #b7b7b7;
}

.taskCard_width {
  grid-column: 1 / -1;
}

.taskCard_gallery {
  grid-column: 1 / -1;
  padding: 30px;
}

.taskCard__title {
  text-align: center;
  font-size: 1.35em;
  font-weight: 400;
}

.taskCard__form div {
  width: 65%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.taskCard__input {
  height: 1.5em;
  width: 2.5em;
  font-size: 1em;
  margin-right: 1em;
}

.taskCard__input_select {
  width: 7em;
}

.taskCard__gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-gap: 30px;
}

@media (max-width: 1399px) {
  .taskCard__gallery {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1199px) {
  .taskCard__gallery {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 992px) {
  .taskCard__gallery {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  .taskCard__gallery {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.taskCard__imgWrap {
  display: block;
  position: relative;
  width: calc(100% - 2px);
  height: 120px;
  border: 1px solid #f7f7f7;
  cursor: pointer;
}

.taskCard__imgWrap:hover {
  border: 1px solid #f08f28;
}

.taskCard__imgWrap:hover span {
  opacity: 1;
}

.taskCard__imgWrap img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

.taskCard__imgWrap span {
  display: block;
  position: absolute;
  top: 100%;
  left: -1px;
  width: calc(100% + 2px - 10px);
  padding: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  background: #f08f28;
  opacity: 0;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.taskCard__imgWrap #image-views {
  position: absolute;
  opacity: 0;
  top: 0;
}

.taskCard__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  padding-bottom: 30px;
}

.taskCard__buttons_column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 15px;
  justify-items: center;
}

@media (max-width: 1399px) {
  .taskCard__buttons_hideColumn {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 15px;
    justify-items: center;
  }
}

@media (max-width: 992px) {
  .taskCard__buttons_hideColumn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767px) {
  .taskCard__buttons_hideColumn {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 15px;
    justify-items: center;
  }
}

.taskCard__codeWrap {
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  -webkit-transition: 0.75s;
  transition: 0.75s;
  margin-bottom: 30px;
}

.taskCard__codeWrap_hidden {
  margin-bottom: 0;
  border-color: rgba(0, 0, 0, 0);
}

.subMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: capitalize;
  list-style-type: none;
  padding: 0;
  background: #ffffff;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: auto;
}

.subMenu__wrap {
  position: absolute;
  top: 100%;
  right: 0;
  overflow: hidden;
  z-index: 100;
}

.subMenu_hidden {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  height: 0;
}

.subMenu__item:hover {
  background: #efad66;
}

.subMenu__itemHref {
  display: block;
  padding: 15px 30px;
}

.upload {
  width: 400px;
  margin: 0 auto;
}

.upload__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 3.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.upload__section:nth-child(n+2) {
  margin-top: 1em;
}

.upload label {
  padding: 0 0 7.5px 10px;
}

.upload__input {
  height: 2em;
  width: calc(100% - 17px);
  font-size: 1em;
  padding: 0 7.5px;
  border: 1px solid white;
  border-radius: 5px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.upload__input:hover {
  border: 1px solid #ced7e2;
}

.upload__input:focus {
  outline: none;
  border: 1px solid #f08f28;
}

.upload__input::-webkit-input-placeholder {
  color: #ced7e2;
}

.upload__input::-moz-placeholder {
  color: #ced7e2;
}

.upload__textarea {
  width: calc(100% - 17px);
  height: 10em;
  resize: vertical;
  font-size: 1em;
  line-height: 1.25em;
  padding: 5px 7.5px;
  border: 1px solid white;
  border-radius: 7.5px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  color: #474747;
}

.upload__textarea:hover {
  border: 1px solid #ced7e2;
}

.upload__textarea:focus {
  outline: none;
  border: 1px solid #f08f28;
}

.upload__textarea::-webkit-input-placeholder {
  color: #ced7e2;
}

.upload__textarea::-moz-placeholder {
  color: #ced7e2;
}

.upload__buttons {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.upload__file {
  font-size: 1em;
  width: calc(100% - 2px);
  background: white;
  border-radius: 7.5px;
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
}

.upload__file::-webkit-file-upload-button {
  font-family: 'Tahoma', sans-serif;
  font-size: 1em;
  color: #ffffff;
  padding: 7.5px;
  border: none;
  border-radius: 7.5px;
  background: #d74645;
  cursor: pointer;
}

.upload__file::-webkit-file-upload-button:focus {
  outline: none;
}

.upload__file:hover {
  border: 1px solid #f08f28;
}

.upload__file:focus {
  outline: none;
}

.feedbackCard {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  width: calc(100% - 30px);
  border-radius: 25px;
  padding: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.feedbackCard:hover {
  background-color: #f7f7f7;
  -webkit-box-shadow: -4px 12px 20px 0 #b7b7b7;
          box-shadow: -4px 12px 20px 0 #b7b7b7;
}

.feedbackCard__title {
  text-align: center;
  font-size: 1.35em;
  font-weight: 400;
  grid-column: 1 / -1;
}

.feedbackCard__postsWrap {
  align-self: flex-start;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

@media (max-width: 1599px) {
  .feedbackCard__postsWrap {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.feedbackCard__post {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: calc(100% - 12px);
  margin: 0;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.feedbackCard__post:hover {
  background: white;
  border: 1px solid #f08f28;
}

.feedbackCard__post p {
  line-height: 1.2em;
  max-height: 6em;
  overflow: auto;
  margin: 0;
}

.feedbackCard__post p::-webkit-resizer {
  width: 4px;
  height: 0;
}

.feedbackCard__post p::-webkit-scrollbar {
  width: 4px;
  background: #ced7e2;
  border-radius: 2px;
}

.feedbackCard__post p::-webkit-scrollbar-button {
  width: 4px;
  height: 0;
}

.feedbackCard__post p::-webkit-scrollbar-thumb {
  width: 4px;
  background: #f08f28;
  border-radius: 2px;
}

.feedbackCard__post span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100%-40px);
  padding: 5px 20px 0 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedbackCard__post span sub {
  font-size: 0.9em;
  font-style: italic;
  color: #a4a4a4;
}

@media (max-width: 992px) {
  .feedbackCard {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.feedback__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 3.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.feedback__section:nth-child(n+2) {
  margin-top: 1em;
}

.feedback label {
  padding: 0 0 7.5px 10px;
}

.feedback__input {
  height: 2em;
  width: calc(100% - 17px);
  font-size: 1em;
  padding: 0 7.5px;
  border: 1px solid white;
  border-radius: 5px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.feedback__input:hover {
  border: 1px solid #ced7e2;
}

.feedback__input:focus {
  outline: none;
  border: 1px solid #f08f28;
}

.feedback__input::-webkit-input-placeholder {
  color: #ced7e2;
}

.feedback__input::-moz-placeholder {
  color: #ced7e2;
}

@media (max-width: 767px) {
  .feedback__input {
    width: calc(100% - 17px);
  }
}

.feedback__text {
  width: calc(100% - 17px);
  height: 10em;
  resize: vertical;
  font-size: 1em;
  line-height: 1.25em;
  padding: 5px 7.5px;
  border: 1px solid white;
  border-radius: 7.5px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  color: #474747;
}

.feedback__text:hover {
  border: 1px solid #ced7e2;
}

.feedback__text:focus {
  outline: none;
  border: 1px solid #f08f28;
}

.feedback__text::-webkit-input-placeholder {
  color: #ced7e2;
}

.feedback__text::-moz-placeholder {
  color: #ced7e2;
}

.feedback__buttons {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.galleryNavWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 30px;
  grid-column: 1 / -1;
}

.productsWrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 30px;
}

.product {
  position: relative;
  width: calc(100% - 2px);
  display: -ms-grid;
  display: grid;
  border: 1px solid rgba(0, 0, 0, 0);
  -ms-grid-columns: 2fr 4fr 1fr;
      grid-template-columns: 2fr 4fr 1fr;
      grid-template-areas: "preview header header" "preview info ." "preview info ." "preview info price";
  border-radius: 30px;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.product:hover {
  overflow: none;
  border: 1px solid #f08f28;
}

.product__img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: preview;
  width: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
}

.product__name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: header;
  text-align: center;
  font-size: 1.15em;
  font-weight: 400;
}

.product__name_dynamic {
  position: absolute;
  margin: 0;
  line-height: 40px;
  width: calc(100% + 2px);
  bottom: 100%;
}

.product__info {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: info;
}

.product__price {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: price;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.product__buy {
  position: absolute;
  right: 0;
}

.productPage {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 0.5fr;
      grid-template-columns: 1fr 1fr 1fr 0.5fr;
  -ms-grid-rows: 60vh;
      grid-template-rows: 60vh;
  grid-gap: 30px;
      grid-template-areas: "preview preview preview images";
}

.productPage__imgPreview {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: preview;
  overflow: hidden;
}

.productPage__imgPreview img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.productPage__imagesWrap {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: images;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 15px;
  height: 100%;
  overflow-y: scroll;
}

.productPage__imagesWrap::-webkit-resizer {
  width: 4px;
  height: 0;
}

.productPage__imagesWrap::-webkit-scrollbar {
  width: 4px;
  background: #ced7e2;
  border-radius: 2px;
}

.productPage__imagesWrap::-webkit-scrollbar-button {
  width: 4px;
  height: 0;
}

.productPage__imagesWrap::-webkit-scrollbar-thumb {
  width: 4px;
  background: #f08f28;
  border-radius: 2px;
}

.productPage__imagesWrap img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.loginCard {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  width: calc(100% - 30px);
  border-radius: 25px;
  padding: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.loginCard:hover {
  background-color: #f7f7f7;
  -webkit-box-shadow: -4px 12px 20px 0 #b7b7b7;
          box-shadow: -4px 12px 20px 0 #b7b7b7;
}

.loginCard__title {
  text-align: center;
  font-size: 1.35em;
  font-weight: 400;
  grid-column: 1 / -1;
}

.loginCard__form {
  width: 90%;
  -ms-grid-column-align: center;
      justify-self: center;
}

.loginCard__formTitle {
  text-align: center;
  font-size: 1.15em;
  font-weight: 400;
}

.loginCard__formSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 3.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.loginCard__formSection:nth-child(n+2) {
  margin-top: 1em;
}

.loginCard__formSection label {
  padding: 0 0 7.5px 10px;
}

.loginCard__input {
  height: 2em;
  width: calc(100% - 17px);
  font-size: 1em;
  padding: 0 7.5px;
  border: 1px solid white;
  border-radius: 5px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.loginCard__input:hover {
  border: 1px solid #ced7e2;
}

.loginCard__input:focus {
  outline: none;
  border: 1px solid #f08f28;
}

.loginCard__input::-webkit-input-placeholder {
  color: #ced7e2;
}

.loginCard__input::-moz-placeholder {
  color: #ced7e2;
}

@media (max-width: 767px) {
  .loginCard__input {
    width: calc(100% - 17px);
  }
}

.loginCard__buttons {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 992px) {
  .loginCard {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.footerContacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
}

.footerContacts__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footerContacts__socIcon {
  display: block;
  position: relative;
  margin-right: 16px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.footerContacts__socIcon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footerContacts__socIcon:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.footerContacts__socIcon img {
  width: 32px;
  height: 32px;
  -o-object-fit: contain;
     object-fit: contain;
}

.footerContacts__counter {
  font-size: 0.9em;
}

.rights {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 60px;
  border-top: 1px solid #f2c18e;
}
